* {

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  height: 500px;
  margin-top: 100px;
  padding-bottom: -200px;
  display: flex;
  flex-direction: column;
}

.top {
  
  background-color: grey;
  height: 500px;
  padding-top: 100px;
}
audio {
  width: 300px
}
h1 {
  width: 500px;
  text-align: center;
}

.song {
  border: black 1px solid;
}

